.detail-container{
    width: 40vw;
    margin: 0 auto;
    font-family: 'Roboto';
}

.cardMenu-container{
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #b8b8b8;
}
.logo img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.descriptions{
    display: flex;
    flex-direction: column;
    color: #b8b8b8;
}

.restaurant-name{
    color: #e86e5a;
}

.time-and-deliveryPrice{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.localization{

}

.itens-menu{
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.card-products-container {
    display: flex;
    width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    align-items:flex-start;
}

.content-product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.name-product{
    color: #e86e5a;
}

.description-product{
    color: #b8b8b8;
}

.logo-product{
    width: 40%;
    height: 100%;
}

.logo-product img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.price-and-button{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: flex-end;
}

.button{
    width: 30%;
    height: 80%;
    position: relative;
    bottom: 0;
}

.button button{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    border-radius: 10px 0 10px 0;
    background-color: #ffff;
    border: 1px solid;
} 

.button button:hover{
    cursor: pointer;
    border: 1px solid #e86e5a;
    color: #e86e5a;
}

.button2{
    width: 30%;
    height: 80%;
    position: relative;
    bottom: 0;
}

.button2 button{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    border-radius: 10px 0 10px 0;
    background-color: #ffff;
    border: 1px solid #e86e5a;
    color: #e86e5a;
}

.button2 button:hover{
    cursor: pointer;
    border: 1px solid black;
    color: black;
}